
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Russo+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
   margin: 0;
   font-family: "Euclid Circular A", "Poppins";
   background: #1b1e1fff;
   color: #222;

}
nav{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    background: #0D0D0D;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 10%); */
    justify-content: center;
    /* box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 50px red; */
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    color:  #e6a881;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}
nav a:hover{
  text-shadow:  0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 50px cyan;
}
nav a.active{
    color: white;
}
nav span{
    margin-right: 10px;
}
section{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0 15%;
    text-align: center;
}
p{
    line-height: 1.8;
    color: #e6a881;
}

section:nth-child(2){
    background: url(img/ñ.jpg);
    color: white;
}
section:nth-child(3){
    background: #0e1317ff;
}
section :nth-child(3) p {
  color: #e6a881;
}
  

section:nth-child(3) h1{
  color: white;
  font-family: 'Russo One', sans-serif;;
  font-size: 50px;
}
section:nth-child(3) .ty{

  font-family: 'Exo 2', sans-serif;;
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
  margin-bottom: 100px;
  font-size: 40px;
}
section:nth-child(4){
    background: url(img/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    padding: 0 35px;
    min-height: 100vh;

}
#us{
  color: #e6a881;
}

section:nth-child(4) h2 {
    color: rgb(255 255 255 / 96%);
  }
  
  section:nth-child(4) p {
    color: rgb(255 255 255 / 70%);
   }

   
 

                    
<!--INICIO-->
 .contenedor-sobremi{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
 }
 .imagen{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin-left: 40px;
  margin-top: 100px;
  justify-content: left ;
  box-shadow: 0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 10px #fff;
  cursor: not-allowed;
 }
 .imagen:hover{
   scale: 1.10;
   box-shadow: 0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 20px #fff;
 }
 h4{
  font-size: 60px;
  align-items: center;
 }
 .mechanical{
  font-family: 'Russo One', sans-serif;
 }
 
 .exp{
  color: rgb(156, 56, 16);
  font-family: 'Exo 2', sans-serif;
 }
 .exp:hover{
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
 }
 .texto{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right:350px;
  border-right: 3px solid;
  animation: animacion 2.5s steps(16), transparent .5s step-end infinite alternate;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  color: #fff;
  border-right: 3px solid;
 }
 .texto span.typed-text{
  color: black;
  font-weight: normal;
 }

@keyframes animacion{
  from {
    width: 0px;
  }
}
@keyframes transparent{
  50% {
    border-color: transparent;
  }
}

 






.botones{
  align-items: center;
  margin-right: 350px;
 }
 .boton{
  color: #e6a881;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
border-radius: 10px;
background: black;
cursor: pointer;
  margin-top: 100px;
 }
 .boton:hover{
  /* background: #A63838; */
  scale: 1.10;
  color: #ffffff;
  font-size: 1rem;
  box-shadow: 0 0 5px #F23E16,
              0 0 25px #F23E16,
              0 0 50px #F23E16,
              0 0 100px #F23E16,
              0 0 200px #F23E16;
 }





 /* faqs*/

 .faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
 }
 .question{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .question h2{
  font-size: 1.8rem;
 }
 .answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
 }
 .answer{
  max-height: 0;
  overflow: hidden;
 }
 .faq.active .answer{
  max-height: 300px;
 }
 .section-faq{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .title{
  font-size: 3rem;
  margin: 2rem 0rem;
  color: white;
 }
 .faq.active svg{
  transform: rotate(180deg);
 }
 svg{
  transition: transform .5s ease-in;
 }

 @media (max-width:425px){
  h4{
    font-size: 0;
  }
  .imagen{
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .botones{
    
    margin-right: 0px;
  }
  .texto{
    margin-right: 0px;
  }
  .navbar a{
    font-size: 13px;
  }
 }










 


 
 
/* .wrapper .carrousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
  }
  .carrousel img{
    height: 340px;
    object-fit: cover;
    width: calc(100%/3);
    margin-left: 14px;
  }
  .wrapper{
    max-width: 1200px;
    position: relative;
  }
  .carrousel img:first-child{
    margin-right: 0px;
  }
  .wrapper i{
    background: #fff;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;  
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrapper i:first-child{
    left: -23px;
  }
  .wrapper i:last-child{
    right: -23px;
  }
  @media screen and (max-width: 900px) {
    .carrousel img{
      width: calc(100%/2);
    }
  }
  @media screen and (max-width: 550px) {
    .carrousel img{
      width: calc(100%);
    }
  } */

  .slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
    margin-top: 26px;
    max-height: 100vh;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc( 300px + 3em);
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    cursor: pointer;
    transition: .5s;
}
.slide-item img:hover{
  scale: 1.10;
}
.slide-control {
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    font-size: 1.2rem;
    height: 46px;
    line-height: 45px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 46px;
    z-index: 10;
    transition: 0.8s;
}
.slide-control:hover{
  scale: 1.10;
  font-size: 1rem;
  box-shadow: 0 0 5px blue,
              0 0 25px cyan,
              0 0 50px cyan,
              0 0 100px cyan,
              0 0 200px #fff;
  background: #0d0d13;
  color: cyan;
}
.slide-control.prev {
    left: 2%;
}
.slide-control.next {
    right: 2%;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #428bca;
}
#titulo {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
         -1px 0px 2px rgba(255, 255, 255, 0);
}




footer{
  background: #06090D;
  height: auto;
  max-width: 100%;
  padding-top: 40px;
  color: #fff;
  
  bottom: 0;
  right: 0;
  left: 0;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0;
}
.footer-content .expr{
  font-family: 'Exo 2', sans-serif;
  margin-top: 0;
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
               display: block;
               
}
.footer-content h3 , .expr{
  text-align: center;
  align-items: center;
  justify-content: center;
 display: block;
 position: relative;

}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: white;

}
.socials a i{
  font-size: 1.1rem;
  transition: colo .4s ease;
}
.socials a:hover i{
  color: #34ffea;
}
.footer-bottom{
  background: #090c11;
  max-width:  100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}