
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
	padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
   margin: 0;
   font-family: "Euclid Circular A", "Poppins";
   background: #1b1e1fff;
   color: #222;

}

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ADBDF4;
  --sb-size: 11px;

  scrollbar-color: var(--sb-thumb-color) 
                   var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size) 
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 34px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 34px;
  
  }
nav{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    display: flex;
    gap: 16px;
    padding: 0 20px;
    width: 100%;
    height: 72px;
    background: #0D0D0D;
    /* box-shadow: 0 0 10px rgb(0 0 0 / 10%); */
    justify-content: center;
    /* box-shadow: 0 0 5px red,
                0 0 25px red,
                0 0 50px red,
                0 0 50px red; */
    border-radius: 5px;
}
nav a{
    text-decoration: none;
    color:  #8C6E5D;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}
nav a:hover{
  text-shadow:  0 0 5px #9d0007,
                0 0 15px #F2A35E,
                0 0 20px #F2A35E,
                0 0 50px #F2A35E;
}
nav a.active{
    color: white;
}
nav span{
    margin-right: 10px;
}
section{
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 0 15%;
    text-align: center;
}
p{
    line-height: 1.8;
    color: #e6a881;
}

section:nth-child(2){
    background: url(img/ñ.jpg);
    color: white;
}
section:nth-child(3){
    background: #0e1317ff;
}
section :nth-child(3) p {
  color: #F5CA87;
}
  

section:nth-child(3) h1{
  color: white;
  font-family: 'Russo One', sans-serif;;
  font-size: 50px;
}
section:nth-child(3) .ty{

  font-family: 'Exo 2', sans-serif;;
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px cyan,
               0 0 40px #F23E16,
               0 0 80px cyan;
  margin-bottom: 50px;
  font-size: 40px;
}
section:nth-child(4){
    background: url(img/Diseño\ sin\ título.png);
    background-repeat: no-repeat;
    padding: 0 35px;
    min-height: 100vh;

}
#us{
  color: #F5CA87;
}
#us h1{
  color: #FAFAFA;
}
#us h1:hover{
  text-shadow: 0 0 5px #9d0007,
                0 0 15px #F2A35E,
                0 0 20px #F2A35E,
                0 0 20px #F2A35E;
}
section:nth-child(4) h2 {
    color: rgb(255 255 255 / 96%);
  }
  
  section:nth-child(4) p {
    color: rgb(255 255 255 / 70%);
   }

   
 

                    
<!--INICIO-->
 .contenedor-sobremi{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
 }
 .imagen{
  width: 250px;
  height: 250px;
  border-radius: 150px;
  margin-left: 40px;
  margin-top: 100px;
  justify-content: left ;
  box-shadow: 0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 10px #fff;
  cursor: not-allowed;
 }
 .imagen:hover{
   scale: 1.10;
   box-shadow: 0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 20px #fff;
 }
 h4{
  font-size: 60px;
  align-items: center;
 }
 .mechanical{
  font-family: 'Russo One', sans-serif;
 }
 
 .exp{
  color: rgb(156, 56, 16);
  font-family: 'Exo 2', sans-serif;
 }
 .exp:hover{
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
 }
 .texto{
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right:350px;
  border-right: 3px solid;
  animation: animacion 2.5s steps(16), transparent .5s step-end infinite alternate;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  border-right: 0px solid;
  font-family: 'Afacad', sans-serif;
 }
 .texto span.typed-text{
  color: black;
  font-weight: normal;
 }

@keyframes animacion{
  from {
    width: 0px;
  }
}
@keyframes transparent{
  50% {
    border-color: transparent;
  }
}

 






.botones{
  align-items: center;
  margin-right: 350px;
 }
 .boton{
  color: #e6a881;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: .5s;
border-radius: 10px;
background: black;
cursor: pointer;
  margin-top: 100px;
 }
 .boton:hover{
  /* background: #A63838; */
  scale: 1.10;
  color: #ffffff;
  font-size: 1rem;
  
 }

#insta:hover{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  box-shadow: 0 0 5px #dc2743 ,
              0 0 25px #bc1888 ,
              0 0 50px #f09433 ,
              0 0 100px #e6683c ,
              0 0 200px #cc2366 ;
}
#whats:hover{
  background-color:#25d366;
  color:#FFF;
  transform: rotateY(360deg);
  box-shadow: 0 0 5px #25d366,
              0 0 25px #25d366,
              0 0 50px #25d366,
              0 0 100px #25d366,
              0 0 200px #25d366;
}
#face:hover{
  background-color:  #2A558C;
  box-shadow: 0 0 5px #2A558C,
              0 0 25px #2A558C,
              0 0 50px #2A558C,
              0 0 100px #2A558C,
              0 0 200px #2A558C;
}



 /* faqs*/

 .faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #FFFAFA;
  cursor: pointer;
  
 }
 .question{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 .question h2{
  font-size: 1.2rem;
  color: #ADBDF4;
 }
 .question h2:hover{
  text-shadow:  0 0 5px #9d0007,
                0 0 15px cyan,
                0 0 20px cyan,
                0 0 50px #ADBDF4;
 }
 .answer p{
  padding-top: 1.4rem;
  line-height: 1.6;
  font-size: 1.2rem;
  color: #F5CA87;

 }
 .answer{
  max-height: 0;
  overflow: hidden;
 }
 .faq.active .answer{
  max-height: 300px;
 }
 .section-faq{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 .title{
  font-size: 3rem;
  margin: 2rem 0rem;
  color: white;
 }
 .faq.active svg{
  transform: rotate(180deg);
 }
 svg{
  transition: transform .5s ease-in;
 }

 @media (max-width:425px){
  h4{
    font-size: 0;
  }
  .imagen{
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  .botones{
    
    margin-right: 0px;
  }
  .texto{
    margin-right: 0px;
  }
  .navbar a{
    font-size: 13px;
  }
 }










 


 
 
/* .wrapper .carrousel{
    white-space: nowrap;
    cursor: pointer;
    font-size: 0;
    overflow: hidden;
  }
  .carrousel img{
    height: 340px;
    object-fit: cover;
    width: calc(100%/3);
    margin-left: 14px;
  }
  .wrapper{
    max-width: 1200px;
    position: relative;
  }
  .carrousel img:first-child{
    margin-right: 0px;
  }
  .wrapper i{
    background: #fff;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;  
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .wrapper i:first-child{
    left: -23px;
  }
  .wrapper i:last-child{
    right: -23px;
  }
  @media screen and (max-width: 900px) {
    .carrousel img{
      width: calc(100%/2);
    }
  }
  @media screen and (max-width: 550px) {
    .carrousel img{
      width: calc(100%);
    }
  } */

  


footer{
  background: #06090D;
  height: auto;
  max-width: 100%;
  padding-top: 40px;
  color: #fff;
  
  bottom: 0;
  right: 0;
  left: 0;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: 'Russo One', sans-serif;
  margin-bottom: 0;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
}
.footer-content .expr{
  font-family: 'Exo 2', sans-serif;
  margin-top: 0;
  color: #fff;
  text-shadow: 0 0 10px #F23E16,
               0 0 20px #F23E16,
               0 0 40px #F23E16,
               0 0 80px #F23E16;
               display: block;
               
}
.footer-content h3 , .expr{
  text-align: center;
  align-items: center;
  justify-content: center;
 display: block;
 position: relative;

}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: white;

}
.socials a i{
  font-size: 1.1rem;
  transition: colo .4s ease;
}

.socials a:hover  #instagram {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  scale: 1.30;
  transition: .5s;
  border-radius: 100%;
  
}
.socials a:hover #whatsapp{
  background-color:#25d366;
  color:#FFF;
  scale: 1.30;
  transition: .5s;
  border-radius: 200px;
  
}
.socials a:hover  #facebook {
  color: #405DE6;
  transition: .5s;
  scale: 1.30;
  
}
.footer-bottom{
  background: #090c11;
  max-width:  100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.footer-bottom span:hover{
  text-shadow: 0 0 10px #211663,
               0 0 20px #211663,
               0 0 40px #211663,
               0 0 80px #211663;
               opacity: .100;
}